<div class="chat-main-form">
  <div class="chat-main-top">
    <span class="chat-main-top-title">チャット画面 (ルーム： 
      <span class="chat-main-top-title-text">
        <%= @room_name %>
      </span>)
    </span>

    <% if params[:room_id].to_i != 0 %>
    <span class="header-delete-button1">
      <%= link_to "チャットルームを終了（削除）", learn_relearn_room_path(learn_id: params[:learn_id], relearn_id: params[:relearn_id] ,room_id: params[:room_id], id: params[:room_id]), class:'delete-text', method: :delete %>
    </span>
    <% end %>
  </div>
    <div class="messages">
      <%= render partial: 'message', collection: @messages %><%# メッセージを表示 %> 
    </div>
  <%#/div%>
  
  <div class="chat-main-bottom">
   <% if params[:room_id].to_i != 0 %><%# チャット相手を洗濯しないと入力欄を非表示 %>
    <div class="form">
     <%= form_with model: [@room, @message], url: learn_relearn_room_messages_path, class: 'form', id: "m_form",  local: true do |f| %>
      <div class="form-input">
        <%= f.text_field :content, class: 'form-message', id: "content", placeholder: 'type a message' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <div>
        <%= f.submit '送信', class: 'form-submit', id: "m_submit" %>
      </div>
     <% end %>
    </div>
   <% end %>
  </div>
</div>
