<% if message.user == current_user %>

<div class="message-one" >
 <div class="message" data-id=<%= message.id %> data-check=<%= message.checked %>><!--data-idとdata-checkのカスタムデータ属性を追加--> 
  <div class="upper-message">
    <span class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.nickname %>
    </span>
    <span class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </span>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '300x300'), class: 'message-image' if message.image.attached? %><%# 投稿画像を表示 %> 
  </div>
 </div>
</div>



<% else %>
<div class="message-one">
 <div class="message2">
  <div class="upper-message2">
    <span class="message-user2">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.nickname %>
    </span>
    <span class="message-date2">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </span>
  </div>
  <div class="lower-message2">
    <div class="message-content2">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
  </div>
 </div>
</div>

<% end %>