<%= render "shared/header" %>
<%#---------------------------------スライダの表示-------------------------------------------------%>
<div class="slider">
	<ul class="slider-inner">
    </ul>
	<ul class="nav">
    </ul>
	<p id="arrow-prev" class="arrow">←</p>
	<p id="arrow-next" class="arrow">→</p>
</div>
<%#---------------------------------スライダの表示-------------------------------------------------%>
 <div class='top-page-div0'>
  <div class='top-page-div1'>
    <a class='top-page-title'>メディシェアとは</a>
    <div class='top-page-div2'>メディシェアでは医療に関する質問を投稿できます。</div>
    <div class='top-page-div2'>質問に対して様々な方からの意見を募集できます。</div>
  </div>
 </div>


<%#/登録した教えて！を表示 %>

 <div class="flex">
   <div class="top-page-content1-title">教えて！  新規投稿一覧</div>
 </div>
 
<%#職種で検索 %><%#--------------------------------------------------------------------------------------%>
 <%#div class="flex">
   <div class="">職種で検索</div>
   <%= form_with model: @learn, url:learns_path, local: true do |f| %>
   <%#= f.collection_select(:job_id, Job.all, :id, :name, {}, {class:"job-select"}) %>
   <%# end %>

   <%#= link_to root_path() do %> 
     <%#div class="search">検索</div>
   <%# end %>
   <%# end %>
 <%#/div>
<%#--------------------------------------------------------------------------------------%>
<div class="search-learns-list">

<div class="top-page-content1-form">
  <% @learns.each do |learn| %>
    <div class="learn-list">
      <%= link_to learn_path(learn_id: learn.id, id: 0) do %>
      <%#= link_to learn_path(learn.id) do %>     <%# 詳細ページへリンク %>
        <div class="top-page-content1-1" >       <%# 一つの投稿の外枠 %>
          <p class="top-page-content1-studytitle"><%= learn.studytitle.truncate(12) %></p>

          <span class="top-page-content1-job2">投稿者：
            <span class="top-page-content1-job1"><%= learn.user.nickname %></span><br>
          </span>
          <span class="top-page-content1-job2">職　業：
            <span class="top-page-content1-job1"><%= learn.job.name %></span>
          </span>
          <p class="top-page-content1-study"><%= learn.study.truncate(80) %></p>
          <% if learn.thankyou_money != 0 && learn.thankyou_money != nil %>
            <div class="top-page-content1-money-form">
              <p class="top-page-content1-money">お礼金 <%= learn.thankyou_money.truncate(7) %>円</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



<footer></footer>

<%= link_to('/learns/new', class: 'purchase-btn', id: 'learnbutton') do %>
  <span class='purchase-btn-text'>投稿する</span>    <%# マウスを載せるとIDで  , id="learnbutton" %>
  <%= image_tag 'menu_coffee01.jpg' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<div class="hoverlearnbutton", id="aaaaa" >マナーを守って投稿しよう！</div><%# マウスを載せると表示される %>




