<%= form_with model: @learn, url:learns_path, local: true do |f| %>
  <div class="learn-new-top">
    <div class="learn-box">
      <div class="learn-box-title">
        <b>投稿を編集する</b>
      </div>
      <div class="learn-box-1">
        <b>あなたの職業<br></b>
        <%= f.collection_select(:job_id, Job.all, :id, :name, {}, {class:"job-select"}) %><br>
      </div>

      <div class="learn-box-1">
        <b>性別<br></b>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"gender-select"}) %><br>
      </div>

      <div class="learn-box-1">
        <b>学びたい内容のタイトル<br></b>
        <%= f.text_field :studytitle, class:"studytitle", placeholder:"（例）上手な採血も仕方について" %><br>
      </div>

      <div class="learn-box-1">
        <b>学びたい内容を記入して下さい<br></b>
        <%= f.text_area :study, class:"text", placeholder:"（例）採血で５人に一人は失敗してしまいます。コツなどがあれば教えて欲しいです。" %><br>
      </div>
      <div class="learn-box-1">
        <b>等道府県<br></b>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %><br>
      </div>
      <div class="learn-box-1">
        <b>場所の提供は？<br></b>
        <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"area-select"}) %><br>
      </div>
      <div class="learn-box-1">
        <b>場所の詳細情報<br></b>
        <%= f.text_area :area_provided, class:"text", placeholder:"（例）◯◯市内のカフェなど" %><br>
      </div>
      <div class="learn-box-1">
        <b>教育を受ける側の一人あたりのお礼金<br></b>
        <%= f.text_field :thankyou_money, class:"thankyou_money", placeholder:"（例）数字を入力（０でも可）" %><br>
      </div>
      <div class="learn-box-1">
        <b>教育を受ける側の人数<br></b>
        <%= f.collection_select(:learn_num_id, LearnNum.all, :id, :name, {}, {class:"learn_num-select"}) %><br>
      </div>
      <div class="learn-box-1">
        <b>条件など（資料の提供、資材の提供など）<br></b>
        <%= f.text_area :condition, class:"text", placeholder:"（例）実際に採血の手技を手ほどきして欲しい" %><br>
      </div>

      <%= f.submit "投稿する" ,class:"btn" %>
    </div>
  </div>
<% end %> 