<%= render "shared/header" %>
<div class="show-three-block">
<%#-----------------  left-block   --------------------%>
<div class="left-block">
  <%= form_with model: @learn, url:learns_path, local: true do |f| %>
  <div class="learn-new-top">
    <div class="learn-boxx">
      <div class="learn-box-title-show">
        <b>投稿の内容</b>
      </div>
      <div class="learn-box-1">
        <b>あなたの職業<br></b>
        <%= @learn.job.name %><br>
      </div>

      <div class="learn-box-1">
        <b>性別<br></b>
        <%= @learn.gender.name %><br>
      </div>

      <div class="learn-box-1">
        <b>学びたい内容のタイトル<br></b>
        <%= @learn.studytitle %><br>
      </div>

      <div class="learn-box-1">
        <b>学びたい内容を記入して下さい<br></b>
        <%= @learn.study %><br>
      </div>
      <div class="learn-box-1">
        <b>都道府県<br></b>
        <%= @learn.prefecture.name %><br>
      </div>
      <div class="learn-box-1">
        <b>場所の提供は？<br></b>
        <%= @learn.area.name %><br>
      </div>
      <div class="learn-box-1">
        <b>場所の詳細情報<br></b>
        <%= @learn.area_provided %><br>
      </div>
      <div class="learn-box-1">
        <b>教育を受ける側の一人あたりのお礼金<br></b>
        <%= @learn.thankyou_money %><br>
      </div>
      <div class="learn-box-1">
        <b>教育を受ける側の人数<br></b>
        <%= @learn.learn_num.name %><br>
      </div>
      <div class="learn-box-1">
        <b>条件など（資料の提供、資材の提供など）<br></b>
        <%= @learn.condition %><br>
      </div>
    </div>
  </div>
<% end %> 

</div>
<%#-----------------  center-block   --------------------%>
<div class="center-block">
  <div class="learn-box-title-show-center">
    <b>返信一覧</b>
  </div>


<%#-----------------  返信の投稿   --------------------%>
    <% @relearns.each do |relearn| %>
    <% if relearn.learn.id.to_i == params[:id].to_i %>
     <div class="learn-list-show">       <%# 一つの投稿の外枠 %>
      <%= link_to learn_relearn_path(relearn.id) do %>     <%# 詳細ページへリンク %>
        <div class="#" >
          <div class="#">投稿者：
            <span class="relearn-job-name"><%= relearn.job.name.truncate(10) %></span>
            <span class="relearn-job-name">( <%= relearn.user.nickname %> さん)</span>
          </div> 
          <div class="#">タイトル：
            <span class="relearn-dtudytitle"><%= relearn.restudytitle.truncate(19) %></span>
          </div> 
          <div class="#">本文：
            <span class="relearn-dtudytitle"><%= relearn.restudy.truncate(21) %></span>
          </div> 
        </div>
      <% end %>
     </div>
    <% end %>
  <% end %>
<%#-----------------    --------------------%>


</div>
<%#-----------------  right-block   --------------------%>
<div class="right-blocks">

  <%= form_with model: @learn, url:learns_path, local: true do |f| %>
  <div class="#">
    <div class="learn-boxx">
      <div class="learn-box-title-show">
        <b>返信の内容</b>
      </div>
      <div class="learn-box-1">
        <b>あなたの職業<br></b>
        <%= @relearn.job.name %><br>
      </div>

      <div class="learn-box-1">
        <b>性別<br></b>
        <%= @relearn.gender.name %><br>
      </div>

      <div class="learn-box-1">
        <b>学びたい内容のタイトル<br></b>
        <%= @relearn.restudytitle %><br>
      </div>

      <div class="learn-box-1">
        <b>学びたい内容を記入して下さい<br></b>
        <%= @relearn.restudy %><br>
      </div>
      <div class="learn-box-1">
        <b>都道府県<br></b>
        <%= @relearn.prefecture.name %><br>
      </div>
      <div class="learn-box-1">
        <b>場所の提供は？<br></b>
        <%= @relearn.area.name %><br>
      </div>
      <div class="learn-box-1">
        <b>場所の詳細情報<br></b>
        <%= @relearn.area_provided %><br>
      </div>
      
      <div class="learn-box-1">
        <b>教育を受ける側の人数<br></b>
        <%= @relearn.learn_num.name %><br>
      </div>
      <div class="learn-box-1">
        <b>条件など（資料の提供、資材の提供など）<br></b>
        <%= @relearn.condition %><br>
      </div>
    </div>
  </div>
<% end %> 

</div>


<%#-----------------  right-menu-block   --------------------%>
<div class="right-menu-block"></div>

<%# 教える投稿、チャットーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
      <% if user_signed_in? %>
        <%# if current_user.id != @learn.user_id %>
          <%= link_to(new_learn_relearn_path(@learn), class: 'purchase-btn3') do %>
            <span class='purchase-btn-text'>教える</span>
            <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
          <% end %>
          <%= link_to(learn_path(@learn.id), class: 'purchase-btn4') do %>
            <span class='purchase-btn-text'>チャット</span>
            <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
          <% end %>
        <%# end %>
      <% end %>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
<%# 編集、削除ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
      <% if user_signed_in? %>
        <%# if current_user.id == @learn.user_id %>
          <%= link_to(edit_learn_path(@learn), class: 'purchase-btn') do %>
            <span class='purchase-btn-text'>編  集</span>
            <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
          <% end %>
          <%= link_to(learn_path(@learn.id), method: :delete, class: 'purchase-btn2') do %>
            <span class='purchase-btn-text'>削  除</span>
            <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
          <% end %>
        <%# end %>
      <% end %>
<%# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
